{% load static %}
<!doctype html>
<html lang="fr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta charset="iso-8859-1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cabinet de recrutement batiment Nantes - Léger RH et Conseils</title>
<link rel="canonical" href="/" />
<meta name="description" content="Léger RH et Conseils, cabinet de recrutement en bâtiment près de Nantes propose conseils en ressources humaines et offres d'emploi en BTP génie civil. Ile de France, Bretagne, Pays de la Loire, Rhône Alpes." />
<meta name="Robots"  content="index,follow" />
<meta name="expires"  content="never" />
<meta name="Revisit-after" content="30 days" />
<meta name="language"  content="FR" />
<meta property="og:url" content="/" />
<meta property="og:title" content="Cabinet de recrutement batiment Nantes - Léger RH et Conseils" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Léger RH et Conseils, cabinet de recrutement en bâtiment près de Nantes propose conseils en ressources humaines et offres d'emploi en BTP génie civil. Ile de France, Bretagne, Pays de la Loire, Rhône Alpes." />
<meta property="og:image" content="{% static 'img/leger-logo.png'%}" />
<meta property="og:image:type" content="image/jpeg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Cabinet de recrutement batiment Nantes - Léger RH et Conseils" />
<meta name="twitter:image" content="{% static 'img/leger-logo.png'%}" />
<meta name="twitter:description" content="Léger RH et Conseils, cabinet de recrutement en bâtiment près de Nantes propose conseils en ressources humaines et offres d'emploi en BTP génie civil. Ile de France, Bretagne, Pays de la Loire, Rhône Alpes." />

<!-- Google tag (gtag.js) -->
<script async src="{% static 'js/googletagmanager.js'%}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RHWZTN53F4');
</script>

<meta http-equiv="imagetoolbar" content="no">

<link rel="shortcut icon" href="{% static 'img/aerial.ico'%}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
<link href="{% static 'css/fontawesome.4.70.css'%}" rel="stylesheet">
<script src="{% static 'js/jquery.2.2.4.js'%}" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap3.3.1.js'%}"></script>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="accueil">
  <header class="header-accueil">
    <div class='espace50'></div>
    <div class='espace50'></div>
  </header>
  <main class="main-accueil" role="main">
    
            <style type="text/css">
                body {
                    background: url("{% static 'img/background.jpg'%}") no-repeat center fixed;
                    background-size: cover;
                }
            </style>
        
    <div class="container text-center container-accueil">
      <div class="clearfix">
        <div class="border-contenu-accueil">
        <div class="flex-center" style="min-height: 20rem;">
            <div class="col-md-6">
              <a href="/cabinet-conseil-recrutement-btp/" class="logo-accueil" title="LÉGER RH & CONSEILS">
                <img src="{% static 'img/leger-logo.png'%}" alt="LÉGER RH & CONSEILS">
              </a>
            </div>
            <div class="col-md-6">
              
    <div id="carousel-presentation" class="carousel slide" data-ride="carousel">
      <!-- <ol class="carousel-indicators">
        
          <li data-target="#carousel-presentation" data-slide-to="0"  class="active"></li>
        
      </ol> -->

      <div class="carousel-inner" role="listbox">
        

          <figure class="item active">
            <img src="{% static 'img/diapo.jpg'%}" alt="" width="100%">
            
            
            <figcaption class="slider-header__carousel-caption">
              
            </figcaption>

          </figure>
          
      </div>
        <a class="left carousel-control" href="#carousel-presentation" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left  fa fa-angle-left" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#carousel-presentation" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>     
    </div>

  
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center"><a href="/cabinet-conseil-recrutement-btp/" class="btn-accueil">Entrer</a></p>
  </main>
  <footer class="footer-accueil">
    <div class="container">
      <p><strong>L&Eacute;GER RH &amp; CONSEILS</strong> - 44140 Remouill&eacute;</p>
<h1>Cabinet de recrutement en BTP sur Paris, Nantes, Lyon</h1><p>Léger RH & Conseils est un cabinet de recrutement dans le secteur du bâtiment près de Nantes. Il propose des conseils en ressources humaines pour les entreprises et les cadres en BTP en région parisienne, Ile de France, Bretagne, Pays de la Loire et Rhône Alpes. Découvrez les offres d&#39;emploi en ligne. Vous pouvez déposer votre CV sur ce site.</p><div id='urban_overlay'>&nbsp;</div>
      <hr>
      <div class="row">
        <div class="col-footer-accueil-left">
          RCS NANTES 842104440
        </div>
        <div class="col-footer-accueil-right">
          <a target="_blank" href="http://www.aerialconseil.fr"><img alt="logo distributeur" width="92"
              height="57" src="{% static 'img/aerial-logo.png'%}"></a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>