{% load static %}

<!doctype html>
<html lang="fr">
<head>
<meta charset="iso-8859-1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="pragma" content="public, max-age=86400">
<meta http-equiv="Cache-control" content="public">
<title>recrutement BTP génie civil ile de France Paris Nantes</title>
<link rel="canonical" href="/recrutement-btp-paris-nantes/" />
<meta name="description" content="La cabinet de recrutement BTP génie civil accompagne les candidats à un emploi île de France, Paris, Hauts de Seine, Seine St Denis, Seine et Marne, Val de Marne, Val d'Oise, Yvelines, Essonne, Nantes, Lyon." />
<meta name="Robots"  content="index,follow" />
<meta name="expires"  content="never" />
<meta name="Revisit-after" content="30 days" />
<meta name="language"  content="FR" />
<meta property="og:url" content="/recrutement-btp-paris-nantes/" />
<meta property="og:title" content="recrutement BTP génie civil ile de France Paris Nantes" />
<meta property="og:type" content="website" />
<meta property="og:description" content="La cabinet de recrutement BTP génie civil accompagne les candidats à un emploi île de France, Paris, Hauts de Seine, Seine St Denis, Seine et Marne, Val de Marne, Val d'Oise, Yvelines, Essonne, Nantes, Lyon." />
<meta property="og:image" content="{% static 'img/leger-logo.png'%}" />
<meta property="og:image:type" content="image/jpeg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="recrutement BTP génie civil ile de France Paris Nantes" />
<meta name="twitter:image" content="{% static 'img/leger-logo.png'%}" />
<meta name="twitter:description" content="La cabinet de recrutement BTP génie civil accompagne les candidats à un emploi île de France, Paris, Hauts de Seine, Seine St Denis, Seine et Marne, Val de Marne, Val d'Oise, Yvelines, Essonne, Nantes, Lyon." />

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create',’'G-RHWZTN53F4','auto');
ga('send', 'pageview');

</script>
<link rel="shortcut icon" href="{% static 'img/aerial.ico'%}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
<link rel='stylesheet' href="{% static 'css/fontawesome.4.70.css'%}">


<script   src="{%static 'js/jquery.2.2.4.js'%}"   crossorigin="anonymous"></script>

<style>
  cartee  {
    background-image: url("{% static 'img/bandeau.jpg'%}");
  }
</style>

</head>
  <body>
    <div id="preloader">
      <div id="status"></div>
    </div>
    <header class="header-slider-2">
    
        <div id="carousel-presentation-charte" class="carousel slide slider-header" data-ride="carousel" data-pause="none">
          
            <ol class="carousel-indicators">
              
                <li data-target="#carousel-presentation-charte" data-slide-to="0"  class="active"></li>
              
                <li data-target="#carousel-presentation-charte" data-slide-to="1" ></li>
              
                <li data-target="#carousel-presentation-charte" data-slide-to="2" ></li>
              
            </ol>
          
          <div class="carousel-inner" role="listbox">
            
               <div class="item active">
                <figure class="slider-figure-charte" style="background-image: url('/static/img/bandeau1.jpg');" alt="">
                  
                  <figcaption class="slider-header__carousel-caption">
                    
                  </figcaption>
                </figure>
              </div>
              
              <div class="item">
                <figure class="slider-figure-charte" style="background-image: url('/static/img/bandeau2.jpg');" alt="">
                  
                  <figcaption class="slider-header__carousel-caption">
                    
                  </figcaption>
                </figure>
              </div>
              
              <div class="item">
                <figure class="slider-figure-charte" style="background-image: url('/static/img/bandeau3.jpg');" alt="">
                  
                  <figcaption class="slider-header__carousel-caption">
                    
                  </figcaption>
                </figure>
              </div>
              
              
          </div>
          
            <a class="left carousel-control" href="#carousel-presentation-charte" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left  fa fa-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#carousel-presentation-charte" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right fa fa-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          
        </div>
      
    <a class="logo-header" href="/" title="JFL Recrutement S">
       <img src="{% static 'img/leger-logo.png'%}" alt="JFL Recrutement S">
    </a>
</header>
<nav class="navbar navbar-default navbar-static-top">
      <div class="container-max">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Ouvrir le menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Ne pas effacer car parfois utilisï¿½ -->
          <!-- <a class="navbar-brand" href="https://www.leger-rh-et-conseils.fr"><img src="https://www.leger-rh-et-conseils.fr/images/charte/logo-header.png" alt="AerialGroup"></a> -->
          <small class="index-nav">Menu :</small>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            
              		<li ><a href="/">Accueil</a></li>
				
                        <li >
                            <a href="/cabinet-conseil-recrutement-btp/#consulter">Le cabinet</a>
                        </li>
                      
                        <li >
                            <a href="/recrutement-btp-paris-nantes/#consulter">Espace candidats</a>
                        </li>
                      
                        <li >
                            <a href="/recrutement-cadres-btp/#consulter">Espace entreprises</a>
                        </li>
                      
              <li><a href="https://inrecruitingfr.intervieweb.it/legerrh/fr/career" target="_blank">NOS OFFRES D'EMPLOI</a></li>
              <li><a href="/contact/">CONTACT</a></li>
              <li><a href="/blogs/" target="_blank">Nouvelles</a></li>
          </ul>
        </div>
      </div>
    </nav><main id="consulter" class="main" role="main">
<div class="container-main ">

<div class="page-header-top">
    <h1>Politique de confidentialité - données personnelles <small>Mise à jour : le 25 mai 2018</small></h1>
</div>
<div class="container no-pad">
    <p class="well" style="font-size: 18px;">JFL Recrutement S apporte la plus grande importance à la confidentialité de vos informations personnelles dans le cadre de votre navigation et de votre utilisation du site <a href="https://www.leger-rh-et-conseils.fr">www.leger-rh-et-conseils.fr</a> et s’engage à assurer le meilleur niveau de protection de vos données conformément à la Loi Informatiques et libertés et à la réglementation européenne applicable.</p>

    <h3 class="page-header"><strong>1.</strong>	Identité du responsable du traitement</h3>
    <p>Vos données sont collectées par la société JFL Recrutement S<br>
    Immatriculée au RCS NANTES 842104440<br>Dont le siège social est au . - 44140 - Remouillé - France<br>Email : contact (AT) leger-rh-et-conseils.fr<br>
    Ci-après dénommée « JFL Recrutement S » ou « nous »
    </p>

    <h3 class="page-header"><strong>2.</strong>	Les données personnelles que nous recueillons</h3>
    <p>En naviguant sur la plateforme accessible via l’adresse www.leger-rh-et-conseils.fr, en créant un compte personnel sur la plateforme, en procédant à des achats via notre plateforme et en communiquant avec nous, vous êtes amenés à nous communiquer des informations personnelles vous concernant.</p>
    <p><strong>2.1	Lors de la création de votre compte personnel</strong>, vous nous communiquez notamment vos nom, prénom, adresse email, numéro de téléphone, adresse postale, mot de passe.<br>
    Les informations requises à titre obligatoire sont signalées par la présence d’un astérisque (*). </p>
    <p>Si vous ne souhaitez pas communiquer les informations requises à titre obligatoire, vous ne pourrez pas créer de compte sur la Plateforme et utiliser nos services. Vous ne pourrez pas passer de commandes sur la Plateforme.</p>
    <p>Nous vous rappelons que conformément aux Conditions d’utilisation, vous êtes responsables de la confidentialité de vos identifiant et mot de passe que vous avez choisis pour accéder à votre compte personnel sur la Plateforme.</p>

    <h3 class="page-header"><strong>2.2 Dans le cadre de l’utilisation de la plateforme</strong>, JFL Recrutement S recueille et conserve également :</h3>
    <ul>
        <li>votre adresse email en cas d’inscription à la lettre d’information ;</li>
        <li>l’historique des achats réalisés via la Plateforme : description sommaire des produits achetés, prix, date;</li>
        <li>l’historique des transactions bancaires ou des paiements réalisés au titre des achats via la plateforme. En cas de règlement par chèque, nous avons également connaissance du nom de votre établissement bancaire et de votre numéro de compte bancaire ;</li>
    </ul>

    <h3 class="page-header"><strong>3.	A quelles fins utilisons-nous vos données ?</strong></h3>
    <p>Les données collectées sont utilisées pour les finalités suivantes :</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="warning">
                    <th>Finalités des traitements de vos données</th>
                    <th>Fondement juridique autorisant le traitement de vos données</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>La création, la gestion et la personnalisation de votre compte personnel</th>
                    <td>Ce traitement est autorisé sur la base de votre consentement.</td>
                </tr>
                <tr>
                    <th>Le traitement de vos commandes de produits</th>
                    <td>Ce traitement est nécessaire à l’exécution de nos obligations contractuelles respectives et est autorisé sur la base de votre consentement.</td>
                </tr>
                <tr>
                    <th>Le traitement et l’exécution du paiement des commandes passées via la Plateforme</th>
                    <td>Ce traitement est nécessaire à l’exécution de nos obligations contractuelles respectives.</td>
                </tr>
                <tr>
                    <th>Assurer le traitement de vos demandes d’information ou de vos réclamations</th>
                    <td>Ce traitement est nécessaire à l’exécution de nos obligations contractuelles respectives, est autorisé sur la base de votre consentement et est nécessaire à la constatation, l’exercice ou la défense d’un droit en justice.</td>
                </tr>
                <tr>
                    <th>Nous permettre de contrôler le respect par vous de nos conditions générales d’utilisation et de la législation applicable</th>
                    <td>Ce traitement est autorisé sur la base de votre consentement et de notre intérêt légitime à vous transmettre des informations pertinentes.</td>
                </tr>
                <tr>
                    <th>Vous informer en cas d’évolution de nos conditions générales d’utilisation ou de notre politique de confidentialité</th>
                    <td>Ce traitement est nécessaire à l’exécution de nos obligations contractuelles respectives, est autorisé sur la base de votre consentement et est nécessaire à la constatation, l’exercice ou la défense d’un droit en justice.</td>
                </tr>
                <tr>
                    <th>La réalisation de statistiques afin de gérer et d’améliorer le fonctionnement de la Plateforme</th>
                    <td>Ce traitement est autorisé sur la base de votre consentement et de notre intérêt légitime à améliorer la qualité des services.</td>
                </tr>
                <tr>
                    <th>Nous permettre de procéder à la gestion technique de la plateforme, analyser, tester, résoudre les éventuels problèmes techniques</th>
                    <td>Ce traitement est nécessaire à l’exécution de nos obligations contractuelles et est autorisé sur la base de notre intérêt légitime à assurer la sécurité et le bon fonctionnement de la plateforme.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 class="page-header"><strong>4.</strong>	Qui a accès à vos données ? </h3>

    <p>Nos prestataires informatiques et techniques et les services de paiement avec lesquels nous collaborons peuvent également avoir accès à certaines de vos informations pour la bonne exécution de leurs prestations respectives.</p>
    <p>Nous vous précisons que vos données ne sont pas transférées en dehors de l’Union européenne.<br>
    Par ailleurs, nous nous réservons le droit de transmettre vos données personnelles afin de satisfaire à nos obligations légales, notamment dans l’hypothèse où nous y serions contraints par voie de réquisition administrative ou judiciaire.</p>

    <h3 class="page-header"><strong>5.</strong>	Durée de conservation de vos données</h3>
    <p>Nous conservons vos données personnelles pour la durée strictement nécessaire aux finalités décrites à l’article 4 ci-dessus. En particulier, vos données sont conservées pendant une durée de cinq (5) ans courant à compter de la fermeture de votre compte personnel, sa suppression par JFL Recrutement S ou votre dernière utilisation de la plateforme.<br>
    Certaines données pourront être conservées pour une durée plus longue conformément à nos obligations légales et pour la nécessité de la défense de nos droits et intérêts dans le cadre d’éventuels contentieux ou litiges.</p>
    <p>Au-delà de ces durées de conservation, les données seront rendues anonymes et seront conservées à des fins exclusivement statistiques. Elles ne donneront lieu à aucune exploitation, de quelque nature que ce soit.</p>

    <h3 class="page-header"><strong>6.</strong>	Vos droits</h3>
    <p>Sous réserve de justifier de votre identité, vous disposez :</p>
    <ul>
        <li>du droit d’accéder à vos données personnelles en notre possession et d’en obtenir une copie,</li>

        <li>du droit de rectifier vos données personnelles qui seraient erronées ou plus à jour,</li>
            
        <li>du droit de demander l’effacement de vos données personnelles. Nous conserverons toutefois certaines données afin de respecter nos obligations légales et lorsque nous disposons d’un motif légitime (par exemple : lorsque les données sont nécessaires à l’établissement de la preuve de la bonne exécution de nos obligations contractuelles ou de la violation par vos de vos obligations légales ou résultant de nos conditions d’utilisation),</li>
            
        <li>du droit de vous opposer au traitement de vos données personnelles dans certains cas particuliers, notamment en cas de démarchage commercial à moins que nous disposions d’un motif légitime pour procéder au traitement ;</li>
            
        <li>du droit de retirer votre consentement s’agissant de traitements réalisés exclusivement sur la base de votre consentement (cf article 4). En cas de retrait de votre consentement, certains services ne seront plus accessibles,</li>
            
        <li>du droit de limiter le traitement de vos données personnelles. Ce droit s’applique (i) si vous contestez l’exactitude de vos données personnelles et pendant la durée nécessaire à la vérification, (ii) en cas de traitement illicite de vos données et sous réserve que nous n’avez pas sollicitez l’effacement de vos données (iii) en cas d’exercice de votre droit d’opposition pendant le temps nécessaire à la vérification de l’existence d’un motif légitime.</li>
            
        <li>du droit à la portabilité de vos données, c’est-à-dire de recevoir une copie de vos données personnelles en notre possession sous un format structuré et du droit de les transmettre à une autre entité responsable de traitement.</li>  
    </ul>
    <p>Vous disposez également du droit d’introduire une réclamation auprès de l’autorité de contrôle compétente (telle que la CNIL) si vous estimez que vos droits n’ont pas été respectés.</p>
    <p>Nous nous réservons le droit de décliner toute demande qui apparaitrait déraisonnable par son caractère répétitif ou systématique ou qui serait susceptible de mettre en péril la sécurité de la plateforme et des données personnelles des autres utilisateurs.</p>

    <h3 class="page-header"><strong>7.</strong>	Cookies</h3>
    <p>Un cookie est un fichier texte enregistré et/ou par votre navigateur et déposé par les sites Internet auxquels vous accédez.</p>
    <p>Dans le cadre de votre navigation sur notre site, nous collectons via des cookies les informations suivantes :</p>
    <ul>
        <li>information liée à votre terminal (ordinateur, tablette, etc), et notamment l’adresse IP, type de fournisseur d'accès, configuration matérielle, configuration logicielle – notamment nom et numéro de version de votre navigateur de l'utilisateur) ;</li>
        <li>informations liés aux opérations que vous effectuez sur la plateforme : log et historique de tous les échanges de données, log et historique des connexions. Ces informations nous permettent notamment d’améliorer nos services et de personnaliser votre accueil sur la plateforme.</li>     
    </ul>
    <p>Nous utilisons également des cookies d’analyse et de performance afin de nous permettre d’établir des statistiques et d’améliorer nos services.</p>
    <p>Vous pouvez vous opposer à l’enregistrement de cookies en configurant votre navigateur Internet. Vous trouverez ci-après les liens détaillant les moyens pour configurer votre navigateur :</p>
    <ul>
        <li><strong>Firefox :</strong> <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=activer-desactiver-cookies" target="_blank">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=activer-desactiver-cookies</a></li>
        <li><strong>Safari :</strong> <a href="https://support.apple.com/kb/PH19214?locale=fr_FR&viewlocale=fr_FR" target="_blank">https://support.apple.com/kb/PH19214?locale=fr_FR&viewlocale=fr_FR</a></li>
        <li><strong>Google Chrome :</strong> <a href="https://support.google.com/accounts/answer/61416?hl=fr" target="_blank">https://support.google.com/accounts/answer/61416?hl=fr</a></li>
        <li><strong>Internet Explorer :</strong> <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>      
    </ul>
    <p>Si vous refusez, depuis votre navigateur internet, l’enregistrement de cookies sur votre terminal, vous serez toujours en mesure de naviguer sur la plateforme, mais certains services pourraient ne pas fonctionner correctement.</p>

    <h3 class="page-header"><strong>8.</strong>	Liens vers d’autres sites internet et réseaux sociaux</h3>
    <p>Pour toute question relative à la présente politique de confidentialité ou pour toute demande relative à vos données personnelles (notamment aux fins d’exercer vos droits ci-dessus (point 6)), vous pouvez contacter JFL Recrutement S :</p>
    <ul>
        <li>par email : contact (AT) leger-rh-et-conseils.fr</li><li>par téléphone : 06 98 84 31 59   </li><li>par courrier postal : JFL Recrutement S - . – 44140 – Remouillé - France.</li>
    </ul>

    <h3 class="page-header"><strong>9.</strong> Modification de la présente politique de confidentialité</h3>
    <p>JFL Recrutement S se réserve le droit de modifier la présente politique de confidentialité à tout moment. Le cas échéant, vous serez informé de toute évolution qui y serait apportée. JFL Recrutement S vous invite par ailleurs à consulter régulièrement la présente politique de confidentialité pour toute information utile relative au traitement de vos données personnelles.</p>
</div>

</div>
</main>


    <img class='img-responsive text-center center-block espace-photos hidden-xs' src="{% static 'img/footer.jpg'%}" alt=''>
    
    <footer class="footer" role="contentinfo">
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="footer-main">
  <div class="container-footer">
    <div class="row">
      
        <div class="col-md-12">
      
        <div class="row">
          <div class="col-md-4 col-sm-6">
              
                  <organisation itemscope itemtype="http://schema.org/LocalBusiness">
                    <strong itemprop="name">JFL Recrutement S</strong><br>
                    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span itemprop="streetAddress">.</span><br><span itemprop="postalCode">44140</span>&nbsp;<span itemprop="addressLocality">Remouillé</span><br><span itemprop="telephone"><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:06 98 84 31 59">06 98 84 31 59</a></span><br>
                    </address>
                  </organisation>
                
          </div>

          <div class="col-md-4 col-sm-6">
            
            <ul class="list-footer">
              
                <li><a href="/plan-site/">Plan du site</a></li>
              
                <li><a href="/mentions/">Mentions l&eacute;gales</a></li>
              
            </ul>
            <br>
            <p><small>Les photos sont des propriétés intellectuelles, la reproduction est interdite.</small></p>
          </div>

          <div class="col-md-4 col-sm-12">
            <ul class="list-footer-right">
              
              <li><a href="/rgpd/#consulter">Politique de confidentialité</a></li>              
            </ul>
            <ul class="list-logo-footer">
              
        <script>function fbs_click()
        {
          //u=location.href; //#
          u="https://www.leger-rh-et-conseils.fr";
          t=document.title;
          //window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');
          window.open('https://www.facebook.com/sharer.php?u=https://www.leger-rh-et-conseils.fr/cabinet-conseil-recrutement-btp/','sharer','toolbar=0,status=0,width=626,height=436');
          return false;
        }
        </script>
        <li>
          <a title="Partager sur Facebook" href="https://www.facebook.com/share.php?u=https://www.leger-rh-et-conseils.fr/cabinet-conseil-recrutement-btp/" onclick="return fbs_click()" target="_blank">
            <span class="fa-stack fa-lg link-fb">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      
                <li>
                  <a class="logo-footer-distrib"  href='https://twitter.com/share?url=https://www.leger-rh-et-conseils.fr/cabinet-conseil-recrutement-btp/' data-url='/' data-text="Visitez ce site" data-lang="fr" data-size="large" data-count="none" onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="partager sur Twitter">
                    <span class="fa-stack fa-lg link-tw">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                  
              <li>
                <a class="logo-footer-distrib" target="_blank" href="http://www.aerialconseil.fr">
                  <img src="{% static 'img/aerial-logo.png'%}" alt="logo distributeur">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </footer>

    <a href="#0" class="cd-top" title="Retour haut de page"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    <script src="{% static 'js/bootstrap3.3.1.js'%}"></script>
    <script src="{% static 'js/slick-carousel.js'%}"></script>
    <script src="{% static 'js/leger-js.js'%}"></script>
    <script src="{% static 'js/leger-main.js'%}"></script>
    
  </body>
  </html>