{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script src="{% static 'js/jquery.3.6.4.js'%}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap5.min.js'%}" type="text/javascript" charset="utf-8" async defer></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nouvelles - Cabinet de recrutement batiment Nantes</title>
	<link rel="icon" href="{% static 'img/aerial.ico'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
	<!-- <style type="text/css">
		body {
			background: url("{% static 'img/background.jpg'%}");
		}
	</style> -->
</head>
<body   style="background:rgba(255,255,255,0.3);padding:10px;background-repeat: no-repeat;background-size: cover; background-position: center;">
	<div class="container-fluid d-flex justify-content-between my-2">
		<a href="/" class="btn btn-success">&larr; Retour à la page principale</a><a href="/blogs/adm/" class="btn btn-primary">Aller à la page d’administration &rarr;</a>
	</div>
	<div class=" container-fluid   justify-content-between d-flex col-xxl-12  col-xl-12 col-lg-12 col-md-12 col-sm-12 p-4 ">
			<div class="position-absolute container-fluid d-flex justify-content-start" style="margin-top:10px;margin-left:-50px">
				<img src="{%static 'img/news.png'%}"  style="margin-top:-20px;margin-left:20px;height:60px;width:180px;transform: rotate(-15deg);">
			</div>
			<div class="container-fluid col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
				<img src="{% static 'img/leger-logo.png'%}" class="rounded w-100">
			</div>
			<div class="container-fluid col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
				<img src="{% static 'img/diapo.jpg'%}" class="rounded w-100">
			</div>
	</div>

	<div class="p-3 container-fluid  text-center rounded rounded-2" style="background: rgba(255,255,0,0.4);padding-bottom: 50px !important">
		<div class="container-fluid rounded rounded-pill bg-warning p-2  h2 fw-bold" >
			{% block title_yuhu%}{% endblock %}
		</div>
		<div class="row p-2">
		{% if newdata.title %}
			<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
				
				<img src="{% block last_pictures %}{% endblock %}" class="border border-2  rounded w-100 h-100" alt="">
				<div class="position-absolute text-center p-2 fw-bold  rounded">
					publié: {% block last_created %}{% endblock %}
				</div>
			</div>
			<div class="col-xxl-6 col-xl-6 col-lg-6 p-2 col-md-6 col-sm-6  rounded" >
				<p class="h3 card-title" style="margin-top:20px">{% block last_title%}{% endblock %}</p>
				{% if tampilkan_new %}
				<div class="position-absolute">
					<img src="{% static 'img/new.png'%}" style="width:120px;margin-top:-50px;margin-left:-80px;height:90px;transform: rotate(-10deg);">
				</div>
				{% endif %}
				<p class="card-body text-start p-2">{% block last_body %}{% endblock%}</p>
			</div>	
		</div>
	{% else %}
		<div class="col-12 p-2 text-center h5">
			<p>Cette page est en construction...</p>
			<p>S’il vous plaît visitez à nouveau plus tard ...</p>
		</div>
	{% endif%}
	</div>

{% if olddata.paginator.count > 0%}
	<div class="p-4 container-fluid  text-center rounded my-2 border border-2 border-warning" style="background-image: url('/static/img/background.jpg'); margin-bottom:130px !important">

		<div class="row p-2 d-flex justify-content-between" >
			{% block content_preview%}{% endblock%}
		</div>
	</div>
{% else %}
<div style="margin-bottom: 130px;">
	
</div>
{% endif %}

<footer class="footer fixed-bottom container-fluid  p-2 shadow rounded border border-2 border-white" style="margin-top:100px;background: rgba(255,255,255,0.3);">
      <div class="text-end fw-bold">
        <span class="col-footer-accueil-right">
          RCS NANTES 842104440
        </div>
        <div class="d-flex justify-content-end">
          <a target="_blank" href="http://www.aerialconseil.fr"><img alt="logo distributeur" width="92"
              height="57" src="{% static 'img/aerial-logo.png'%}"></a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>