{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script src="{% static 'js/jquery.3.6.4.js'%}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/bootstrap5.min.js'%}" type="text/javascript" charset="utf-8" async defer></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Administration des nouvelles - Cabinet de recrutement batiment Nantes</title>
	<link rel="icon" href="{% static 'img/aerial.ico'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
</head>
<body style="background: rgba(255,255,0,0.4);">
	{% block contents%}
	{% endblock %}
</body>
</html>